.side-nav
  > li
    position: relative
    padding: rem-calc(5px) rem-calc(10px)
    border-radius: rem-calc(5px)
    border: 1px solid transparent
    &:hover 
      border: 1px solid #e3e3e3
      background: #fafafa
      .remove_group
        display: block !important
      > a
        color: #008CBA !important
    &.active
      border: 1px solid #e3e3e3
      background: #008CBA
      > a
        color: white !important
        font-weight: bold !important

    input[type='text']
      margin: 0
      height: 25px
      padding: 1px

.items-list
  li
    position: relative
    > input[type='checkbox']
      float: left
      margin: 7px 10px 0 0
    > div
      float: left
    &.completed
      span
        color: #aaaaaa
        text-decoration: line-through
    &:hover
      .remove_item
        display: block !important

.remove_item, .remove_group
  position: absolute
  right: rem-calc(10px)
  top: rem-calc(4px)
  font-size: rem-calc(14px)
  font-weight: bold
  display: none !important
  margin-top: -14px
  top: 50%

.datepicker-button
  margin: 0
  padding: rem-calc(3px) rem-calc(6px) !important
  position: absolute
  right: rem-calc(30px)
  margin-top: rem-calc(-10px)
  top: 50%

.due-date
  clear: both
  margin: 0 0 0 23px
  font-size: rem-calc(11px)
  color: #777
 
.hidden-input
  width: 0 !important
  height: 0 !important
  margin: 0 !important
  opacity: 0 !important
  filter: alpha(opacity=0) !important
  position: absolute !important
  right: 360px
  top: 30px

