.side-nav
  > li
    padding: rem-calc(5px) rem-calc(10px)
    border-radius: rem-calc(5px)
    border: 1px solid transparent
    &:hover 
      border: 1px solid #e3e3e3
      background: #fafafa
      > a
        color: #008CBA !important
    &.active
      border: 1px solid #e3e3e3
      background: #008CBA
      > a
        color: white !important
        font-weight: bold !important

    input[type='text']
      margin: 0
      height: 25px
      padding: 1px

.items-list
  li
    > input[type='checkbox']
      float: left
      margin: 7px 10px 0 0
    > div
      float: left
    &.completed
      span
        color: #aaaaaa
        text-decoration: line-through


